<footer class="site-footer h-card">
<data class="u-url" href="{{ "/" | relative_url }}"></data>
<div class="footer">
  <div class="quarter">
      <h2>CranFit</h2>
      <p>Fitness | Sports</p>
      <span class="copyright">2018 CranFit CA | All Rights Reserved. | Designed by Maxime Masson</span>
  </div>
  <div class="quarter">
      <a href="#">CONTACTEZ NOUS</a>
      <a href="#">FAQ</a>
  </div>
  <div class="quarter media">
      <p>MÉDIA SOCIAUX</p>
      <a href="#">facebook</a>
      <a href="#">twitter</a>
      <a href="#">Linknd</a>
      <a href="#">Instagram</a>
 </div>
  <div class="quarter">
      <h2>STROKE IT<br/>RIDE IT<br/>POUND IT</h2>
  </div>
</div>
</footer>
